{% load static tailwind_tags %}
{% tailwind_css %}
<section class="bg-green-200 min-h-screen flex items-center justify-center">
  <div class="w-full max-w-xs xs:max-w-sm sm:max-w-md md:max-w-xl lg:max-w-lg mx-auto px-2 xs:px-4 sm:px-6 py-8">
    <a href="#" class="flex justify-center mb-6 text-4xl font-bold text-gray-800">
      Gadget Genesis
    </a>

    <div class="w-full bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 p-4 xs:p-6 sm:p-8">
      <div class="p-4 xs:p-6 space-y-6 sm:p-8">
        <h1 class="text-xl xs:text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
          Sign in to your account
        </h1>

        <form method="POST" class="space-y-6">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">{{ message }}</span>
              </div>
            {% endfor %}
          {% endif %}

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" name="email" id="email" placeholder="name@company.com"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 xs:p-3.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required>
          </div>

          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 xs:p-3.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required>
          </div>

          <button type="submit"
            class="w-full text-black bg-[#81DEB4] hover:bg-[#5cc89b] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base xs:text-lg px-5 py-2.5 text-center dark:focus:ring-primary-800">
            Sign in
          </button>

          <p class="text-sm font-light text-gray-500 dark:text-gray-400 text-center">
            Don't have an account yet?
            <a href="{% url 'register' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
          </p>
        </form>
      </div>
    </div>

    <div class="text-center mt-6 text-black font-semibold space-y-1">
<pre>If you don't want to register use these 
login credentials for reviewing</pre>
      <p>icegolem1133@gmail.com</p>
      <p>123ABC@abc123</p>
    </div>
  </div>
</section>
