{% load static tailwind_tags %}
{% tailwind_css %}
{% comment %} 
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-4xl font-bold text-gray-900 dark:text-white">
          Gadget Genesis 
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Create an account
              </h1>
              <form class="space-y-4 md:space-y-6" method='POST'>
                {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                          <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">{{message}}</span>
                          </div>
                        {% endfor %}
                    {% endif %}
          
                  <div>
                      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                      <input type="first_name" name="first_name" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name" required="">
                  </div>
                  <div>
                      <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                      <input type="last_name" name="last_name" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last Name" required="">
                  </div>
                  <div>
                      <label for="user_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name</label>
                      <input type="user_name" name="username" id="user_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="User Name" required="">
                  </div>
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                      <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  <button type="submit" class="w-full text-black bg-[#81DEB4] hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                      Already have an account? <a href="{% url 'login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section> {% endcomment %}

<section class="bg-green-200 ">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-4xl font-bold text-gray-800">
      Gadget Genesis 
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Create an account
        </h1>
        <form class="space-y-4 md:space-y-6" method='POST'>
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">{{message}}</span>
              </div>
            {% endfor %}
          {% endif %}
          
          <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
            <input type="first_name" name="first_name" id="first_name" class="bg-[#F3FCF8] border border-[#81DEB4] text-gray-900 text-sm rounded-lg focus:ring-[#81DEB4] focus:border-[#81DEB4] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#81DEB4] dark:focus:border-[#81DEB4]" placeholder="First Name" required="">
          </div>
          <div>
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
            <input type="last_name" name="last_name" id="last_name" class="bg-[#F3FCF8] border border-[#81DEB4] text-gray-900 text-sm rounded-lg focus:ring-[#81DEB4] focus:border-[#81DEB4] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#81DEB4] dark:focus:border-[#81DEB4]" placeholder="Last Name" required="">
          </div>
          <div>
            <label for="user_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name</label>
            <input type="user_name" name="username" id="user_name" class="bg-[#F3FCF8] border border-[#81DEB4] text-gray-900 text-sm rounded-lg focus:ring-[#81DEB4] focus:border-[#81DEB4] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#81DEB4] dark:focus:border-[#81DEB4]" placeholder="User Name" required="">
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" name="email" id="email" class="bg-[#F3FCF8] border border-[#81DEB4] text-gray-900 text-sm rounded-lg focus:ring-[#81DEB4] focus:border-[#81DEB4] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#81DEB4] dark:focus:border-[#81DEB4]" placeholder="name@company.com" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-[#F3FCF8] border border-[#81DEB4] text-gray-900 text-sm rounded-lg focus:ring-[#81DEB4] focus:border-[#81DEB4] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#81DEB4] dark:focus:border-[#81DEB4]" required="">
          </div>
          <button type="submit" class="w-full text-black bg-[#81DEB4] hover:bg-[#6CCF9C] focus:ring-4 focus:outline-none focus:ring-[#B2EBD2] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#81DEB4] dark:hover:bg-[#6CCF9C] dark:focus:ring-[#B2EBD2]">Create an account</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account? <a href="{% url 'login' %}" class="font-medium text-[#81DEB4] hover:underline dark:text-[#81DEB4]">Login here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
